Package: open-e-joviandss-proxmox-plugin
Version: 0.9.10-8
Section: admin
Priority: optional
Architecture: all
Depends: python3-oslo.utils (>= 3.36), python3-yaml (>= 3.13), multipath-tools, sg3-utils, patch, python3-retry, libstring-util-perl
Maintainer: andrei.perepiolkin@open-e.com
Homepage: https://github.com/open-e/JovianDSS-Proxmox
Description: Open-E JovianDSS plugin for proxmox
 This package contains perl interface for custom JovianDSS cli
 written in python.
